@font-face {
    font-family: helsinkiOrig;
    src: url(helsinki.ttf);
}

@font-face {
    font-family: "Helsinki";
    font-style: normal;
    font-weight: 400;
    src: local("Helsinki"),
        url("https://fonts.cdnfonts.com/s/192/helsinki.woff") format("woff");
}

html {
    margin: 0px;
}

* {
    margin: 5px;
}

label {
    font-size: 20px;
}

button {
    background: none;
    border: none;
    color: #fafafa;

    font-family: helsinkiOrig;
    font-size: 20px;

    padding: 7px;
    border-radius: 5px;

}

button:hover {
    background-color: #272727;
}

body {
    margin: 0px;
    width: 425px;
    height: 550px;
    background-color: #0f0f0f;
    color: #f2f2f2;
    font-family: helsinkiOrig;

    margin-bottom: 4px;

    margin-left: 7px;
}

header {
    display: flex;
    align-items: center;
}

#about-btn{
    padding: 0px;
}

h1 {
    margin-right: auto;
}

button:active {
    background-color: #484848;
}

input[type="text"] {
    background-color: #272727;
    color: #f2f2f2;
    border: 0;
    font-size: 20px;
    font-family: helsinkiOrig;
    border-radius: 5px;
    padding: 7px;
}

#amp {
    font-family: Helsinki;
    margin: 0;
}

#framerate {
    width: 115px;
}

#time-text {
    width: 110px;
    color: #fafafa;
}

#time-segment-btn {
    width: 220px;
    padding: 2px;
    vertical-align: middle;

    background-color: #272727;
}

#time-segment-btn:hover > div {
    background-color: #303030;
}

#time-segment-btn:hover {
    padding: 2px;

    background-color: #444444;
}

#time-segment-btn[checked="true"] {
    background-color: #838383;
}

#time-segment-btn:active {
    background-color: #484848;
}

#time-segment-btn:active > div {
    background-color: #484848;
}

.content {
    padding-bottom: 30px;
}

.ErrorMessage {
    background-color: #0f0f0f;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 10px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#notification-message {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
    font-size: 13px;
    font-weight: bold;
}

img {
    margin: 0px;
    width: 100%;
    vertical-align: middle;
}

.icon {
    padding: 6px;
    width: 37px;
    height: 37px;
    vertical-align: middle;
}

#add-btn {
    margin-top: 0px;
}

#calculated-time {
    width: 220px;
    text-align: center;
}

p {
    font-size: 20px;
}

a {
    font-size: 20px;
    color: #0465ec;
}

a:visited {
    color: #0465ec;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

    margin: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer {
    margin-bottom: 15px;
    display: inline;
}

footer > * {
    font-size: 18px;
}

#warning {
    margin: 0px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 426px;
    height: 30%;
    color: #fafafa;
    background-color: #0f0f0f;

    z-index: 10;
    padding: 0px;
    padding-top: 15px;

    text-align: center;
    /* Meow */
    visibility: hidden;

    border: 4px solid #fafafa;
    outline: 3px solid rgb(255, 165, 0);
    outline-offset: -1px;

    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#warning[style="visibility: hidden;"]{
    animation: top-botI 250ms ease-in-out;
}

#warning[style="visibility: visible;"] {
    animation: top-bot 500ms ease-in-out;
}

@keyframes top-bot {
    0% {
        transform: translate(-50%, -150%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes top-botI {
    0% {
        visibility:visible;
        transform: translate(-50%, -50%);
    }
    100%
    {
        transform: translate(-50%, -150%);
        visibility:hidden;
    }
}

#lock {
    visibility: hidden;
    z-index: 5;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;

    margin: 0;

    background-color: hwb(0 0% 100% / 0.65);
}

#lock[style="visibility: visible;"] {
    animation: opacity-up 500ms ease-in-out;
}

#lock[style="visibility: hidden;"] {
    animation: opacity-down 250ms ease-in-out;
}

@keyframes opacity-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity-down {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0; 
    }
}


.title-container {
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.warning-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.warning-title {
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    margin: 0;
    color: #fee5c7;

}

.warning-text {
    margin-left: 10px;
}

#warning > button{
    margin-top: 0px;
   
}

#warning-yes-btn {
    background-color: #fee5c7;
    color: #0f0f0f;
}

#warning-yes-btn:hover {
    background-color: #e9c79e;
}


/*
                                             *@@                  @@/           
                                           @@@@@@@%            (@@@@@@@         
                                        %@@@@*  @@%          @@@@@  *@@         
                                      @@@@@     @@@@@     &@@@@,    *@@         
                                   @@@@@     *@@@@@@@@@@@@@@@@@@@@  *@@         
                              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         
                           *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         
                         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         
                         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         
         .@@@@@@@@@@@@.  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%      
       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%      
       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       .@@@@@@@@@@       *@@@@%      
       @@@@@@@&       (@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%      
                              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         
                                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/           
                                                                       
*/